* {
    margin: 0 auto;
}
.card {
    border:1px solid rgb(0, 0, 0);
    border-radius: 10px 10px 10px 10px;
    padding: 7px;
    font-size: 18px;
    margin-bottom: 15px;
}
.title {
    font-weight: bold;
}

.button {
    justify-content: center;
    width: 470px;
    padding: auto;
}
input {
    margin: 20px 12px 25px 12px;
    border: 0px;
    background-color:rgb(200, 137, 137);
    width: 90px;
    height: 30px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}